*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}

body{
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.header{
    background-color: #EEEFF1;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding-top: 20px;
}

.img_logo{
    width: 96px;
    height: 60px;
}

li:hover{
    font-weight: 500;
    color: #34547A;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding-left: 30px;
    letter-spacing: 0.1em;
    color: #000;
}

.header_block{
    display: flex;
    padding-top: 150px;
    justify-content: center;
}

.header_img{
    width: 350px;
    height: 200px;
} 

.header_text_block{
    padding-left: 100px;
    padding-bottom: 100px;
}

h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
}

.header_text{
    padding-top: 10px;
    color: #727272;
    width: 430px;
    text-align: justify;
}

.button{
    margin: 20px 0px 0px 100px;
    width: 225px;
    height: 65px;
    background: #34547A;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
}

.button:hover {
    cursor: pointer;
 }

 .about{
    padding: 70px 0px;
}

.lorem_text{
    text-align: center;
    color: #727272;
    width: 430px;
    margin: 40px auto 0px auto;
}

.about_me{
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.projects{
    background: #34547A;
}

.project_block{
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_items:first-child{
    padding-left: 0px;
}

.project_items{
    padding-left: 30px;
    display: flex;
}

.project_block_text{
    padding-left: 20px;
}

.project_header{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.project_text{
    color: #FFFFFF;
}

.skills_block{
    padding-bottom: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skill_text_block{
    padding-left: 150px;
    padding-top: 80px;
    width: 30%;
}

.progress-bar{
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 8px;
    height: 3px;
    margin-top: 25px;
}

.bar{
    display: block;
    height: 3px;
    width: 80%;
    background-color: #34547A;
    margin-top: 15px;
}

.my_skill{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.skill_text{
    color: #727272; 
    padding-top: 30px;   
}

.skill_img_block{
    padding-top: 60px;
    padding-right: 70px;
}

.skill_img{
    width: 455px;
    height: 350px;
}

.work_block{
    background: #EEEFF1;
    padding: 50px 0px;
}

.work_header{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.work_text{
    text-align: center;
    color: #727272;
    width: 430px;
    margin: 40px auto;
}

.work_img{
    height: 450px;
    width: 900px;
    display: block;
    margin: 0px auto;
}

.work_img_block{
    align-items: center;
    display: flex;
    justify-content: center;
}

.play_button{
    position: absolute;
}

.play_button:hover{
    cursor: pointer;
}

.pict_block{
    display: inline-block;
    margin-top: 20px;
}

.pict_view{
    float: left;
}

.pict_item{
    width: 275px;
    height: 275px;
    float: left;
}

figure {
    position: relative;
  }
    
figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(78, 107, 137, 0.7);
    opacity: 0;
    transition: opacity .7s;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}
  
figure:hover figcaption {
    opacity: 1;
}

.microsoft_block{
    text-align: center;
    padding: 30px 0px;
}

.microsoft_img{
    display: inline-block;
    width: 225px;
    height: 90px;
    padding-left: 20px;
}

#img{
    padding-left: 0px;
}

.form{
    background: #EEEFF1;
    padding: 70px 0px 50px 0px
}

.form_header_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.form_header_text{
    text-align: center;
    color: #727272;
    margin: 40px auto;
    width: 430px;
}

form{
    width: 500px;
    text-align: center;
    margin: 20px auto;
}

input[name="name"], input[name="email"]{
    width: 190px;
    height: 40px;
    margin: 0px 10px;
    font-size: 14px;
    padding-left: 10px;
}

input[name="submit"]:hover{
    cursor: pointer;
}

textarea{
    width: 410px;
    margin-top: 20px;
    height: 150px;
    resize: none;
    padding: 10px;
}

::placeholder{
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}

input[name="text"]{
    width: 430px;
    margin-top: 20px;
    height: 150px;
}

input[type="submit"]{
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 30px;
    width: 225px;
    height: 65px;
    background: #34547A;
    color: #FFFFFF;
    border: none;
}

.footer{
    background: #34547A;
}

.footer_text_block{
    display: inline-block;
    padding: 30px 0px 20px 150px;
}

.footer_name{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer_text{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 20px;
}

.footer_icon{
    float: right;
    padding: 40px 200px 0px 0px;
}

.VKlogo{
    padding-left: 20px;
    width: 40px;
    height: 40px;
}